<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Admin</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MyBrand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newcustomer">Loans</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <p style="color:red"  th:text="'Admin:' + ${session.admin.getName()} "> </p>
<!--                        <h5>Admin: th:text="${#session.admin.getName()}"</h5>-->
                    </li>
                    <li class="nav-item ml-3">
                        <a style="color: white"  href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 filters">
            <h4>Find Car By Make:</h4>
            <form action="/find/bymake" method="post">
                <div class="form-group">
                    <label for="model">Make:</label>
                    <input class="form-control" type="text" name="make" >
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-dark btn-block">Search</button>
                    </div>
                </div>

            </form>
            <h4>Filter By Price Range:</h4>
            <form action="/find/price" method="post">
                <div class="form-group">
                    <label for="model">From:</label>
                    <input class="form-control" type="number" name="from" >
                </div>
                <div class="form-group">
                    <label for="model">To:</label>
                    <input class="form-control" type="number" name="to" >
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-dark btn-block">Search</button>
                    </div>
                </div>

            </form>
            <form action="/" method="get">

                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success btn-block">View All</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-8 products">
            <div class="row">
                <div th:each="car : ${session.cars}" class="col-md-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:if="${car.getImageUrl() != null}" th:src="${car.getImageUrl()}" alt="Car Image" />
                        <img class="card-img-top" th:if="${car.getImageUrl() == null}" th:src="@{/static/banner.jpg}" alt="Default Car Image" />
                        <!--                        <img class="card-img-top" th:src="@{/static/banner.jpg}" alt="Car 1">-->
                        <div class="card-body">
                            <h5 class="card-title" th:text="'R'+${car.getPrice()}"></h5>
                            <p class="card-text" th:text="${car.getYear()} + ' ' + ${car.getMake()} + ' ' + ${car.getModel()}"> </p>
<!--                            <a th:href="@{/product/car/{id}(id=${car.getId()})}" class="btn btn-primary">View More</a>-->
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</main>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
