<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Successful Drive test Booking</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MyBrand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carparts">Car Part</a>
                    </li>
                    <li th:if="${session.customer != null}" class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    <li th:if="${session.customer == null}" class="nav-item">
                        <a class="nav-link" href="/newcustomer">Creat Account</a>
                    </li>

                </ul>
                <h5 th:if="${session.customer != null}" th:text="${session.customer.getFirstName()+' '+session.customer.getLastName()}" style="color: red; margin-left: 40px; margin-top: 5px"  ></h5>

                <ul class="navbar-nav ml-auto">


                    <li th:if="${session.customer == null}" class="nav-item">
                        <h5 style="color: white" class="nav-link btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</h5>
                    </li>
                    <li th:if="${session.customer != null}" class="nav-item">
                        <a  href="/logout" style="color: white" class="nav-link btn btn-dark" >Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <img src="/static/banner.jpg" alt="Banner Image" class="banner-image img-fluid">
        <div class="banner-text">
            <h1>Welcome to My Website</h1>
            <p>Discover amazing features and services</p>
        </div>
    </div>
</header>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="loginModalLabel">Login Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert alert-success" role="alert">
        Your Drive test Booking Was Successful
    </div>
    <!--    <div class="alert alert-success" role="alert">-->
    <!--        Your payment was successful.-->
    <!--    </div>-->
    <a href="/" class="btn btn-primary">Go to main page</a>
</div>
</body>
</html>